page-clientes {
	.fuente{
		font-family: roboto;
		font-size: 16px;
		color: #525252;
	}
	.icon{
		font-size: %200 ;
		color: #525252;	
	}
	.paddinglr{
		padding-left: 0px;
		padding-right: 0px;
	}
}
