page-clientes {
	font-family: roboto;
	font-size: 15px;
	color: #525252;
	.fuente{
		font-family: roboto;
		font-size: 15px;
		color: #525252;
	}
	.paddinglr{
		padding-left: 0px;
		padding-right: 0px;
	}
}
