page-inicio {
	font-size: 15px;
	font-family: roboto;
	color: #525252;
	
	.clientes{
		background: #ffe8b1;
	}
	.pedidos{
		background: #ffe8b1;
	}
	.otros{
		background: #ffe8b1;
		width: 100%;
	}
	.config{
		background: #ffe8b1;
		width: 100%;
	}
}
