page-vercliente {
	font-family: roboto;
	font-size: 15px;
	color: #525252;
	
	.sizenavbar{
		min-height: 0px;
	}
	.links{
		color: #25A2FA;
	}
	.vencido{
		color: #f53d3d;
	}
	.fuente{
		font-family: roboto;
		font-size: 16px;
		color: #525252;
	}
}
