page-test {

	.fuente{
		font-family: roboto;
		font-size: 18px;
	}
	.titulo{
		color: #525252;
	}
	img{
		width: 40%;
		height: auto;
	}
	ion-item{
		width: 50%;
	}
	.olvideclave{
		font-size: 1em;
		color: #488aff;
		position: relative;
		padding-top: 1.3em;
	}
	
}
